
body {
    height: 100vh;
    margin: 0;
    background: #7d7168;
    
}
.homepageImage {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 20%;
    z-index: -1;
    
}
.homepageImage img {
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

p, h1 {
    color: white;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.lead {
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcomeMessage {
    right: 50%;
}

#typing-text {
    font-family: 'Courier New', Courier, monospace;
}
.btn {
    background-color:#f4623a !important;
    color: white;
    border-color: #f4623a !important;
}

.btn:hover {
    opacity: 80%;
    color: white;
}

.form {
  max-width: 380px;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: Arial, sans-serif;
}

